ul.amendement-cosignataires li {
  display: inline;
  list-style-type: none;
  padding-right: 0px;
}
ul.amendement-cosignataires li:after {
  content: ", ";
}
ul.amendement-cosignataires li:last-child::after {
  content: ".";
}
