/* [theme.breakpoints.up('md')]: {
  width: `calc(100% - ${drawerWidth}px)`,
}, */
@media (min-width: 960px) {
  .app-bar {
    margin-left: 240px;
    width: calc(100% - 240px) !important;
  }
}

/* [theme.breakpoints.up('md')]: {
  display: 'none',
} */
@media (min-width: 960px) {
  .menu-button {
    display: none !important;
  }
}

.drawer-paper {
  width: 240px;
}

/* [theme.breakpoints.up('md')]: {
  position: 'relative',
  width: drawerWidth,
}, */
@media (min-width: 960px) {
  .drawer-paper {
    position: relative;
    width: 240px;
  }
}

.drawer-paper-div {
  width: 240px;
}

@media (min-width: 960px) {
  main.content {
    margin-left: 240px;
    width: calc(100% - 240px) !important;
  }
}
